*.o
*.d
src/.depend.mk
*.a
*.mod
*.smod
*.i
*.out
*.bin
*.MOD
*.log
*dSYM
*.xdmf
*.xmf
*.sh
*.pdf
*.png
*.in
*.pyc
*_ab*.txt
*_rk*.txt
weno*.txt
upw*.txt
3*.txt
5*.txt
4*.txt

!src/data/readme.txt
~                                                                                                                                                                                                                  
~                                      